<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965374299505-k79i7tmcbap3ppvb3fomkiogst1tm5bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965374299505-k79i7tmcbap3ppvb3fomkiogst1tm5bc</string>
	<key>API_KEY</key>
	<string>AIzaSyBQzG6X65qVWu5y9JwZDUqGGKhrIQnTQs4</string>
	<key>GCM_SENDER_ID</key>
	<string>965374299505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDictionary</string>
	<key>PROJECT_ID</key>
	<string>app-dictionary-d528c</string>
	<key>STORAGE_BUCKET</key>
	<string>app-dictionary-d528c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965374299505:ios:165689c76af7ac8a27bad0</string>
</dict>
</plist>